{% extends "base.html" %}
{% block title %}ホーム画面{% endblock %}

{% block main %}
<header class="home_header">あなたは今までで{{ otoku[4] }}円お得に買い物をしました！！</header>
<main class="home">
    <div class="grid4">
        <div id="area1" class="hanabatake">
            <div>
                お得！花畑
            </div>
        </div>
        <div id="area2" class="kakoujou">
            <div>
                お得！加工場
            </div>
        </div>
        <div id="area3" class="zoo">
            <div>
                お得！動物園
            </div>
        </div>
        <div id="area4" class="suizokukan">
            <div>
                お得！水族館
            </div>
        </div>
    </div>

    <div class="bubble_box">
        <div class="bubble green">
            <p>野菜を</p>
            <p>合計{{ otoku[0] }}円</p>
            <p>お得に購入しました！</p>
        </div>
        <div class="bubble gray">
            <p>加工食品を</p>
            <p>合計{{ otoku[1] }}円</p>
            <p>お得に購入しました！</p>
        </div>
        <div class="bubble red">
            <p>食肉・鶏卵を</p>
            <p>合計{{ otoku[3] }}円</p>
            <p>お得に購入しました！</p>
        </div>
        <div class="bubble blue">
            <p>魚介類を</p>
            <p>合計{{ otoku[2] }}円</p>
            <p>お得に購入しました！</p>
        </div>
    </div>


    <!--script src="https://cdn.jsdelivr.net/npm/chart.js"></script-->

    <script>
        function setRandomLeft(imageWidth) {
            return (Math.random() * (document.getElementById("area1").clientWidth - imageWidth)) + "px";
        }

        function setRandomTop(imageHeight) {
            return (Math.random() * (document.getElementById("area1").clientHeight - imageHeight)) + "px";
        }
        for (let i = 0; i < 3; i++) {
            //document.getElementById("area1").innerHTML = "";
            var image = document.createElement("img");
            image.src = "/static/flower2_samp.png";
            image.style.position = "absolute";
            image.style.top = setRandomTop("111");//画像の横の長さをsetRandomTopに。
            image.style.left = setRandomLeft("143");//画像の縦の長さをsetRandomLeftに。
            document.getElementById("area1").appendChild(image);
        }
    </script>
</main>

{% endblock %}