{% extends "base.html" %}

{% block title %}
    LogIn
{% endblock %}

{% block main %}
<main class="container-fluid py-5 text-center">
    <form action="/login" method="post">
        {{ form.csrf_token }}
        <p>{{ form.username.label }} {{ form.username() }}</p>
        <p>{{ form.password.label }} {{ form.password() }}</p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}<p>
        <p>{{ form.submit() }}</p>
    </form>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger my-3">{{ message }}</div>
    {% endfor %}
</main>
{% endblock %}