{% extends "base.html" %}

{% block title %}
    LogIn
{% endblock %}

{% block main %}

<div class="mx-auto auth-main">
    <div class="card auth-login">
        <header>ログイン</header>
        <section class="container-fluid py-1 text-center">
            <form method="post" action="/login">
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-danger my-3">{{ message }}</div>
                {% endfor %}
                {{ form.csrf_token }}
                {{ form.username(class="form-control auth-input",placeholder="ユーザー名") }}
                {{ form.password(class="form-control auth-input",placeholder="パスワード") }}
                <br>
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                {{ form.submit(class="btn btn-md btn-primary btn-block auth-btn") }}
            </form>
        </section>
    </div>
</div>
{% endblock %}