{% extends "base.html" %}
{% block title %}データ登録{% endblock %}

{% block head %}
        <style>
            #form-container {
                display: none;
            }
            .col-sm-4 {
                padding-right: 70px;
            }
            .col-md-6.offset-md-3 {
                background-color: #fff; /* 背景色を設定 */
                background-image: url('/static/kakeibo.png'); /* 背景画像を追加 */
            }
            .col-sm-8.offset-sm-2.text-center {
                padding-bottom: 50px;
            }
        </style>
{% endblock %}
        
{% block main %}
    <div id="form-register">
        <form action="/test1" method="post">
        <div class="col-md-6 offset-md-3">
        <br>
        <h3>～　入力フォーム　～</h3>
        <p></p><br>
        <form>
            <div class="form-group row">
                <label for="date" class="col-sm-2 col-form-label">日付</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" id="regist_date" name="date">
                </div>
                <!-- 品目の制限は後で加える -->
                <label for="name" class="col-sm-2 col-form-label">品目</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="regist_name" name="name">
                </div>
                <p></p>
            </div>
            <div class="form-group row">
                <label for="price" class="col-sm-2 col-form-label">単価</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="regist_price" name="price" min="1">
                </div>
                <label for="date" class="col-sm-2 col-form-label">数量</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="regist_quantity" name="quantity" min="1">
                </div>
                <p></p><br>
                <div class="col-sm-8 offset-sm-2 text-center">
                    <button type="submit" class="btn-primary btn-lg" id="regist_btn">登録</button>
                </div>
            </div>
        </form>
        </div>
       </form>
    </div>
    <p></p>
    <h3>～　支出一覧　～</h3>
    <form action="/test2" method="post">
        <input type="date" id="start_date" name="start_date">〜<input type="date" id="last_date" name="last_date">
        <button id="display_btn" type="submit">指定期間表示</button>
    </form>
    <table id="kakei_tb" class="container" style="width: 50%;">
        <tr>
            <th>日付</th>
            <th>品目</th>
            <th>価格</th>
        </tr>
        {% for data in database %}
        <tr>
          <td>{{ data[0] }}</td>
          <td>{{ data[1] }}</td>
          <td>{{ data[2] }}</td>
          <td><button type="button" onclick="deleteData('{{data[0]}}', '{{data[1]}}', '{{data[2]}}')">削除</button></td>
        </tr>
        {% endfor %}
    </table>
    <script>
        var today = new Date();
        // 「年月日」を配列で取得 ( [0]:年, [1]:月, [2]:日 )
        var dateArray = getTSDate(today);

         displayThisMonthData();

        function displayThisMonthData(){
            
           // 今月の最終日の年月日を配列で取得
           var lastDateArray = getTSDate(new Date(getLastDay(today.getFullYear(),today.getMonth())));
           
           var YM = lastDateArray[0] + "-" + lastDateArray[1];
           var startDate = YM + "-" + "01 00:00:00";
           var lastDate = YM + "-" + lastDateArray[2] + " 23:59:59";

           // 今月の「初日」と「最終日」をUIに表示
           getElmId('start_date').value = YM + "-01";
           getElmId('last_date').value = YM + "-" + lastDateArray[2];
        }
            
        // 登録日付に「本日の年月日」を設定
        document.getElementById("regist_date").value = dateArray[0] + "-" + dateArray[1] + "-" + dateArray[2]
       　
        /* データ登録処理*/
        function registSpending(){
            // 入力データのチェック
            if( chkRegistData('regist_date','regist_name', 'regist_price', 'regist_quantity') ) {
                // 表示データを更新
                execDisplayDesignatedPeriodData();
                //登録データ（品目・単価・個数）の入力ボックスの値を初期化
                getElmId('regist_name').value = ""
                getElmId('regist_price').value = ""
                getElmId('regist_quantity').value = "";
            }
        }
        /* 登録データのチェック1 */
        function chkRegistData(date_id, name_id, price_id, quantity_id){
            var correctFlg = true;
            // 日付の書式チェック
            if ( getElmId(date_id).value.match(/^[0-9]{4}-[0-9]{2}-[0-9]{2}$/g) === null){
                alert('登録日付が正しくありません。');
                correctFlg = false;
            }
            // 品目のチェック
            if ( getElmId(name_id).value.length === 0 ){
                alert('品目を入力してください。');
                correctFlg = false;
            }
            // 単価のチェック
            if ( getElmId(price_id).value.length === 0 ){
                alert('単価を入力してください。');
                correctFlg = false;
            } else {
                // 単価の書式チェック
                if ( getElmId(price_id).value.match(/^[0-9]*$/g) === null ){
                    alert('単価が正しくありません。');
                    correctFlg = false;
                }
            }
            // 個数のチェック
            if ( getElmId(price_id).value.length === 0 ){
                alert('個数を入力してください。');
                correctFlg = false;
            } else {
                // 個数の書式チェック
                if ( getElmId(quantity_id).value.match(/^[0-9]*$/g) === null ){
                    alert('個数が正しくありません。');
                    correctFlg = false;
                }
            }
            return correctFlg;
        }
       /*「削除ボタン」クリック時の処理 */
         function deleteData(date, item, price){
            // データ削除の確認ダイアログ表示
            if( confirm("データを削除しますか？") ){
                //データを表示
                var tr = event.target.closest('tr');
                var date = tr.children[0].textContent;
                var item = tr.children[1].textContent;
                var price = tr.children[2].textContent;

                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/test3');
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    console.log(xhr.responseText);
                    tr.remove(); // テーブルから該当行を削除
                }
                };
                xhr.send(JSON.stringify({date: date, name: name, price: price}));
                execDisplayDesignatedPeriodData();
            }
        }
        // 指定期間の「表示」ボタンクリック時の処理
        function onClickDisplayDesignatedPeriodDataBtn(){         
            execDisplayDesignatedPeriodData();
        }
        // 指定期間のデータを表示
        function execDisplayDesignatedPeriodData(){
            // 表示開始時刻データ作成
            var startDate = getElmId('start_date').value + " 00:00:00";
            
            // 表示終了時刻データ作成
            var lastDate = getElmId('last_date').value + " 23:59:59";
            
            // 指定期間のチェック処理
            if( chkDesignatedPeriod(startDate, lastDate) === true ) {
                displaySpendingData(startDate,lastDate);
            } else {
                alert("開始日付は終了日付より前の日付を選択してください。");
            }
        }
         // 「指定期間」の入力値チェック
        function chkDesignatedPeriod(startDate, lastDate) { 
            var startYmd = getElmId('start_date').value.split('-'); 
            var lastYmd = getElmId('last_date').value.split('-'); 

            startTP = Number(new Date(startYmd[0],startYmd[1] - 1,startYmd[2], 0, 0, 0, 0));
            lastTP = Number(new Date(lastYmd[0],lastYmd[1] - 1,lastYmd[2], 23, 59, 59, 0));
            
            if( startTP < lastTP ){
                return true;
            } else {
                return false;
            }
        }
        //指定月の最終日を取得
        function getLastDay(year, month){
            var end_days = [31,28,31,30,31,30,31,31,30,31,30,31];
            
            // 閏年の確認
            if (year % 400 == 0 || (year % 4 == 0 && year % 100 != 0)) {
                end_days[1] = 29;
            }

            return Number(new Date(year, month, end_days[month], 23, 59, 59));
        }
        /* ID名からDOMを取得 */
        function getElmId(id){
            return document.getElementById(id);
        }
        /* Class名からDOMを取得 */
        function getElmCls(contents){
            return document.getElementsByClassName(contents);
        }
        /* タイムスタンプから年月日文字列を取得 */       
        function getTSDate(date){
            var dateArray = new Array();
            dateArray.push(zero_pad(date.getFullYear(),4));
            dateArray.push(zero_pad(date.getMonth() + 1,2));
            dateArray.push(zero_pad(date.getDate(),2));
            return dateArray;
        }
        /* ０詰処理 */
        function zero_pad(val, show_length){
            var str_val = String(val);
            if( str_val.length < show_length ){
                var zero = ""; 
                for(var i = 0; i < ( show_length - str_val.length ); i++){
                    zero += "0";
                }
                str_val = zero + str_val;
            }
            return str_val;
        };
        // 「登録」ボタンにイベントリスナーを設定
        getElmId("regist_btn").addEventListener('click', registSpending, false);
          
        // 「指定期間表示」ボタンにイベントリスナーを設定
        getElmId("display_btn").addEventListener('click', onClickDisplayDesignatedPeriodDataBtn, false);
    </script>
{% endblock %}
