{% extends "base.html" %}

{% block title %}
    SignUp
{% endblock %}

{% block main %}
<main class="container-fluid py-5 text-center">
    <form action="/signup" method="post">
        {{ form.csrf_token }}
        <p>{{ form.username.label }} {{ form.username(placeholder="ユーザー名") }}</p>
        <p>{{ form.password.label }} {{ form.password(placeholder="パスワード") }}</p>
        <p>{{ form.confirmation.label }} {{ form.confirmation(placeholder="確認用パスワード") }}</p>
        <br>
        <p>{{ form.submit() }}</p>
    </form>
</main>
{% endblock %}