Flask
Flask-Session
requests
Flask-WTF
Flask-Login
Flask-Mail
Werkzeug
WTForms
email_validator
beautifulsoup4
requests
bs4
pandas
numpy
datetime
schedule
tika
ipython
openpyxl
scikit-learn