{% extends "base.html" %}
{% block title %}家計簿カレンダー{% endblock %}

{% block head %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
        <style>
            .container {
                font-family: 'Noto Sans JP', sans-serif;
            }
            a {
                text-decoration: none;
            }
            th {
                height: 30px;
                text-align: center;
            }
            td {
                height: 100px;
            }
            .today {
                background: orange !important;
            }
            #prev, #month, #next {
                display: inline-block;
                vertical-align: middle;
                margin: 0;
            }
            td:not(:empty):hover {
                background-color: yellow;
            }
            #prev:hover {
                background-color: yellow;
            }
            #next:hover {
                background-color: yellow;
            }
            #form-container {
                display: none;
            }
            .col-sm-4 {
                padding-right: 70px;
            }
            #month {
                padding-left: 20px;
                padding-right: 20px;
            }
            .col-sm-8.offset-sm-2.text-center {
                padding-bottom: 50px;
            }
            .first-table th:first-child, td:nth-child(7n+1) {
                color: red;
                border-color: black;
            }
            .first-table th:last-child, td:nth-child(7n) {
                color: blue;
                border-color: black;
            }
            .triangle-right{
                border-style: solid;
                border-width: 10px 0 10px 10px;
                border-color: transparent transparent transparent black;
                display: inline-block;
                width: 0;
                height: 0;
            }
            .triangle-left{
                border-style: solid;
                border-width: 10px 10px 10px 0;
                border-color: transparent black transparent transparent;
                display: inline-block;
                width: 0;
                height: 0;
            }
            .py-5 {
                padding-top: 1rem!important;
                padding-bottom: 3rem!important;
            }
        </style>
{% endblock %}

{% block main %}
    <main class="container-fluid py-5 text-center">
    <div class="first-table">
    <div class="container">
    <botton id="prev" class="triangle-left" type="botton"></botton>
    <h3 id="month"></h3>
    <botton id="next" class="triangle-right" type="botton"></botton>
    <p></p>
    <div id="calendar">
    <table class="table table-bordered">
        <tr>
            <th>日</th>
            <th>月</th>
            <th>火</th>
            <th>水</th>
            <th>木</th>
            <th>金</th>
            <th>土</th>
        </tr>
        <tbody id="calendar-body">
        </tbody>
    </table>
    </div>
    </div>
    </div>
    </main>
    <script>
        var today = new Date();//現在時刻取得
        var currentMonth = today.getMonth();
        var currentYear = today.getFullYear();
        //var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var prevButton = document.getElementById("prev");
        var nextButton = document.getElementById("next");

        //前の月へ戻る
        prevButton.addEventListener("click", function() {
            currentYear = (currentMonth == 1) ? currentYear - 1 : currentYear;
            currentMonth = (currentMonth == 1) ? 12 : currentMonth - 1;
            dataMonth(currentYear, currentMonth + 1);
            displayCalendar();
        });

        //次の月へ進む
        nextButton.addEventListener("click", function() {
            currentYear = (currentMonth == 12) ? currentYear + 1 : currentYear;
            currentMonth = (currentMonth == 12) ? 1 : currentMonth + 1;
            dataMonth(currentYear, currentMonth + 1);
            displayCalendar();
        });

        function displayCalendar() {
            var database = {{ database | tojson }};//先月のところを渡そうとすると再利用できない＋データをサムしてない
            for (var i = 0; i < database.length; ++i) {
                database[i][0] = parseInt(database[i][0].substr(-2));
            }
            console.log(database[0][1]);

            var firstDay = (new Date(currentYear, currentMonth)).getDay();
            var daysInMonth = 32 - new Date(currentYear, currentMonth, 32).getDate();

            var calendarBody = document.getElementById("calendar-body");
            calendarBody.innerHTML = "";

            var monthYear = document.getElementById("month");
            var month = currentMonth % 12 + 1;
            monthYear.innerHTML = currentYear + "年" + month + "月";
            // dateは日付を表す
            var date = 1;
            // database[][2]の1つ目の要素の順番を表す
            var k = 0;
            for (var i = 0; i < 6; i++) {
                var row = document.createElement("tr");

                for (var j = 0; j < 7; j++) {
                    var cell = document.createElement("td");
                    if (i === 0 && j < firstDay || date > daysInMonth) {
                        var cellText = document.createTextNode("");
                        cell.appendChild(cellText);
                        row.appendChild(cell);
                    } else {
                        var cellText = document.createTextNode(date);
                        if (date === today.getDate() && currentMonth === today.getMonth() && currentYear === today.getFullYear()) {
                            cell.classList.add("today");
                        }
                        cell.appendChild(cellText);
                        if (database[k] && date === database[k][0]) {
                            cell.appendChild(document.createTextNode(database[k][1]));//ノードとしてbrノードを作って入れるテキストからノードにする？brタグを入れる
                            ++k;
                        }
                        row.appendChild(cell);
                        date++;
                    }
                }
                calendarBody.appendChild(row);
                //週の終わりまで空の箱を用意する。
                if (date > daysInMonth) {
                    break;
                }
            }
        }
        displayCalendar();

        // 年月情報をdbに渡すための関数
        function dataMonth(currentYear,currentMonth) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/test');
            xhr.setRequestHeader('Content-Type', 'application/json');
            //console.log(database[0][1]);
            xhr.send(JSON.stringify({year: currentYear, month: currentMonth}));
            //xhr.open('POST', '/test');
        }
    </script>
{% endblock %}

