/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

nav
{
    width: 100%;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

/* ---------------------- */
/* -- css for register -- */
#regist_spending {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
#regist_data_tb {
    margin-top: 20px;
    border-collapse: collapse;
}
#regist_data_tb td {
    padding: 7px 13px;
    border: 5px solid #ccc;
}
#regist_spending_btn {
    margin-top: 8px;
}
#kakei_tb {
    margin-top: 10px;
    border-spacing: 0;
}
#kakei_tb tr:nth-child(2n+1) {
  background: #d2ead2;
}
#kakei_tb th, tr, td {
    border: 1px solid;
}
#kakei_tb th {
    background: #a7d4a7;
    border-right: none;
    border-left: none;
}
#kakei_tb th:last-child {
    text-align: left;
    padding-left: 20px;
}
#kakei_tb td {
    padding: 8px 20px;
    border-top: none;
    border-right: none;
    border-left: none;
}
.delete_btn, .edit_btn {
    padding: 3px 8px;
    border-radius: 4px;
}
.col-md-6.offset-md-3 {
    background-color: #fff; /* 背景色を設定 */
    /*background-image: url('/static/kakeibo.png'); /* 背景画像を追加 */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
/* -- css for register -- */
/* ---------------------- */


.chartsidebar {
    box-sizing: border-box;
    overflow-y: scroll;
    width: 200px;
    min-width: 200px;
    padding: 10px;
}

.chart {
    width: 75vw;
    text-align: center;
    margin: 0 auto;
    overflow-x: scroll;
    position: relative;
}

.chartmini {
    width: 40vw;
    text-align: center;
    margin: 0 auto;
    overflow-x: scroll;
    position: relative;
    background-color: rgba(50, 190, 57, 0.5);
}
.hanabatake {
    width: 40vw;
    text-align: center;
    margin: 0 auto;
    overflow-x: scroll;
    position: relative;
    color: #008000;
    background-color: rgba(244, 177, 131, 1);
}
.kakoujou {
    width: 40vw;
    text-align: center;
    margin: 0 auto;
    overflow-x: scroll;
    position: relative;
    background-color: rgba(150, 190, 157, 1);
    /*color: #ffbb2f;*/

}
.suizokukan {
    width: 40vw;
    text-align: center;
    margin: 0 auto;
    overflow-x: scroll;
    position: relative;
    background-color: rgba(50, 60, 157, 1);
    /*color: #2a5caa;*/
}
.zoo {
    width: 40vw;
    text-align: center;
    margin: 0 auto;
    overflow-x: scroll;
    position: relative;
    background-color: rgba(50, 190, 57, 1);
    /*color: #ef4868;*/
}
.grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 30px;
}

.chartpage {
    height: 100vh;
    display: flex;/*サイドバーとメインコンテンツを横並びにする指定をした*/
}

.home {
    height: 85vh;
    margin: 10px;
    display: flex;/*サイドバーとメインコンテンツを横並びにする指定をした*/

}

.bubble_box {
    position: relative;
    min-width: 200px;
    padding: 10px;
    width: 200px;
    margin-right: 20px;
}

.bubble {
    width: 200px;
    height: 130px;
    margin-bottom: 10px;
    padding: 10px;
    display: inline-block;
    border-radius: 30px;
    padding: 16px;
    font-weight: bold;
    color: #fff;
}

.bubble.green {
    background: #008000;
}

.bubble.yellow {
    background: #ffbb2f;
}

.bubble.red {
    background: #ef4868;
}

.bubble.blue {
    background: #2a5caa;
}

.home_header {
    text-align: center;
    font-size: 2em;
    color: white;
    background-color: #999999;
}

.home-icon {
    width: 15%;
    height: 15%;
}

.crayon-green {
    background: linear-gradient(transparent 70%, #008000 90%);
}
.crayon-yellow {
    background: linear-gradient(transparent 70%, #ffbb2f 90%);
}
.crayon-red {
    background: linear-gradient(transparent 70%, #ef4868 90%);
}
.crayon-blue {
    background: linear-gradient(transparent 70%, #2a5caa 90%);
}

a{
    position: relative;
    display: inline-block;
    transition: .3s;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

a:hover{
    border-bottom-color: #31aae2;
}

a::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 2px;
    background-color: #31aae2;
    transition: .3s;
    transform: translateX(-50%);
}

a:hover::after{
    width: 100%;
}

.otoku_header {
    font-size: 1.5em;
    color: white;
}