/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

nav
{
    width: 100%;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

/* ---------------------- */
/* -- css for register -- */
#regist_spending {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
#regist_data_tb {
    margin-top: 20px;
    border-collapse: collapse;
}
#regist_data_tb td {
    padding: 7px 13px;
    border: 5px solid #ccc;
}
#regist_spending_btn {
    margin-top: 8px;
}
#Habs_tb {
    margin-top: 10px;
    border-spacing: 0;
}
#Habs_tb tr:nth-child(2n+1) {
  background: #d2ead2;
}
#Habs_tb th, tr, td {
    border: 1px solid;
}
#Habs_tb th {
    background: #a7d4a7;
    border-right: none;
    border-left: none;
}
#Habs_tb th:last-child {
    text-align: left;
    padding-left: 20px;
}
#Habs_tb td {
    padding: 8px 20px;
    border-top: none;
    border-right: none;
    border-left: none;
}
.delete_btn, .edit_btn {
    padding: 3px 8px;
    border-radius: 4px;
}
/* -- css for register -- */
/* ---------------------- */


.chartsidebar {
    width: 200px;
    text-align: center;
    position: sticky;
    box-sizing: border-box;
    top: 50px;
    height: 100%;
    width: 220px;
    overflow-y: scroll;
    padding: 20px;
}

.chart {
    width: 75vw;
    text-align: center;
    margin-left: 10px;/*サイドバーとメインコンテンツの間に隙間をあけた*/
}

.chartpage {
    height: 100vh;
    display:flex;/*サイドバーとメインコンテンツを横並びにする指定をした*/
}